extends layout

block content
	h1= title
	h4= subtitle

	.container
		form
			fieldset
				input(type='text', class='span3', placeholder='Enter CO2 emissions')
				select(class='span2')
					option pounds
					option kilograms
					option tons
					option metric tonnes
					option Gigatonnes
				label of Carbon Dioxide
	
	script(src='http://code.jquery.com/jquery.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/index.js')