extends layout

block content
	h1#params.hidden= query
	h1= title
	.container
		form#co2-form(name='co2')
			fieldset
				label
					h4 What has the impact of
				input.span3#co2-input(name='amount', type='text', placeholder='Enter CO2 emissions')
				//
					select#co2-select.span2
						option kilograms
						option metric tonnes
						option kilotonnes
						option Megatonnes
						option Gigatonnes
						option pounds
						option tons
				label kilograms of Carbon Dioxide
				button#co2-btn.btn.btn-primary.btn-large(type='button', onclick='submit()') Show Me

		//CO2 equivs
		#results.hidden
		div#test-field
	script(src='http://code.jquery.com/jquery.js')
	script(src='/js/bootstrap.min.js')
	script(src='/js/index.js')