doctype 5
html
	head
		title= title
		//link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css', media='screen')
	body
		block content
		p testing
		script(src='http://code.jquery.com/jquery.js')
		script(src='/js/bootstrap.min.js')