body {
  padding: 50px;
  width: 320px;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
	display: none;
}

li.results {
	list-style-type: none;
	list-style-position: inside;
}
